<form>
  <h1>delete book</h1>
  <button class="btn btn-danger" (click)="showlist()">list book</button><br>
  <label >Tên sách:</label><br>
  <input type="text" [(ngModel)]="book.title" name="ftitle" ><br>
  <label >Tác giả:</label><br>
  <input type="text" [(ngModel)]="book.author" name="fauthor"><br>
  <label >mô tả về sách: </label><br>
  <input type="text" [(ngModel)]="book.description" name="fdescription"><br>
  <button type="button" class="btn btn-danger" (click)="deletebook(book.id)">Delete</button>
</form>
